body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    width: 90%;
}

.web-dev-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.web-dev-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

img {
    height: 160px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 20rem;
}